<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BetterFolderBrowser" version="1.2.0" targetFramework="net48" />
  <package id="LibVLCSharp" version="3.9.5" targetFramework="net48" />
  <package id="LibVLCSharp.WinForms" version="3.9.5" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="10.0.2" targetFramework="net48" />
  <package id="Microsoft.NETCore.Platforms" version="1.1.1" targetFramework="net48" />
  <package id="Microsoft.NETCore.Targets" version="1.1.3" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.3650.58" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="4.7.0" targetFramework="net48" />
  <package id="NAudio" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.Asio" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.Core" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.Lame" version="2.1.0" targetFramework="net48" />
  <package id="NAudio.Midi" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.Wasapi" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.WinForms" version="2.2.1" targetFramework="net48" />
  <package id="NAudio.WinMM" version="2.2.1" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="10.0.2" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Private.Uri" version="4.3.2" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="4.7.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="4.7.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="10.0.2" targetFramework="net48" />
  <package id="System.Text.Json" version="10.0.2" targetFramework="net48" />
  <package id="System.Text.RegularExpressions" version="4.3.1" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.3" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.6.1" targetFramework="net48" />
  <package id="taglib-sharp-netstandard2.0" version="2.1.0" targetFramework="net48" />
  <package id="VideoLAN.LibVLC.Windows" version="3.0.23" targetFramework="net48" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net48" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net48" />
  <package id="YamlDotNet" version="16.3.0" targetFramework="net48" />
</packages>